@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora&family=Oswald:wght@300&family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

:root {

  /* ==============Color============ */
  --body-clr : #efefef;
  --black-clr : black;
  --ghostwhite-clr : rgb(47, 47, 47);
  --text-clr : rgb(72, 72, 72);
  /* ==========font-family=========== */
  --body-font : 'Poppins', sans-serif;

 /* ==============font-size============== */
  /* .5rem = 8px | 1rem = 16px */
  --big-font-size : 3.5rem;
  --h1-font-size : 2.25rem;
  --h2-font-size : 1.5rem;
  --h3-font-size : 1.25rem;
  --normal-font-size : 1rem;
  --small-font-size : 0.875rem;
  --smaller-font-size : 0.813rem;
  --tiny-font-size : 0.625rem;

  /* ===========font-weigh=============== */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ==========margin-bottom============ */
  /* .5rem = 8px | 1rem = 16px */
  --mb-0-25 : 0.25rem;
  --mb-0-5 : 0.5rem;
  --mb-0-75 : 0.75rem;
  --mb-1 : 1rem;
  --mb-1-5 : 1.5rem;
  --mb-2 : 2rem;
  --mb-2-5 : 2.5rem;
  --mb-3 : 3rem;

  /* ======z-index========== */
  --z-tooltip : 10;
  --z-fixed : 100;
  --z-modal : 1000;
}

/* ============Base=============== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body{
  background-color: var(--body-clr);
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: 0.3s;
  color: var(--black-clr);
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
  /* object-fit: cover;  */
}

/* =================Reuseable CSS classes============== */
/* .section{
  margin: 100px 300px;
} */

.sub-title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: #3772ff;
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.projectTextContainer{
  text-align: center;
}

.projectTitle{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.text{
  color: var(--text-clr);
}

.projectBtns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: var(--mb-1-5);
}

.projectBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.i{
  width: 28px;
}

i{
  font-size: 24px;
}

.projectImgBox{
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.projectPic{
  object-position: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 20s;
}

.projectPic:hover{
  object-position: bottom;
}

.projectType{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--small-font-size);
  margin-top: var(--mb-0-75);
}

.projectType .projectTitle{
  font-size: var(--small-font-size);
}
/* ==============Layout================= */
.container{
  max-width: 968px;
  margin-inline: auto;
  padding: 8rem 2rem;
}

.grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

/* ===============Buttons=============== */
button{
  display: inline-block;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

/* Responsive Typography */

@media screen and (max-width: 992px) {
  :root{
    --big-font-size : 2.75rem;
    --h1-font-size : 1.5rem;
    --h2-font-size : 1.25rem;
    --h3-font-size : 1rem;
    --normal-font-size : 0.938rem;
    --small-font-size : 0.813rem;
    --smaller-font-size : 0.75rem;  
  }
}

/* =======BreakPoints============= */
/* for large devices */
@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 905px) {
  .grid{
    grid-template-columns: 1fr;
  }
}

/* for medium devices */
@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  
}

/* for small devices */
@media screen and (max-width:350px) {
  
}